.app{
  text-align: center;
  overflow: hidden;
}

.app-header {
  background-color: #282c34;
  min-height: 92.4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.app-header h1{
  font-size: 72px;
  font-weight: bold;
}

.app-header h2{
  font-size: 36px;
  font-weight: bold;
  color: #bdc3c7;
}

.app-header h3{
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.app-header .linkH3{
  border: 1px solid #61dafb;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px;
}

.app-header .link{
  text-decoration: none;
  color: #61dafb;
}

.app-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #282c34;
  padding: 10px 0;
}

.app-nav h1{
  font-size: 36px;
  font-weight: bold;
  color: white;
  margin-left: 10px;
}

.app-nav a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.app-nav a:hover{
  color: #61dafb;
}

.app-nav .active{
  color: #61dafb;
}

.app-nav ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 10px;
  gap: 10px;
}

.app-nav ul li{
  width: 100%;
  text-align: center;
  margin: 0 10px;
}

.app-nav ul li a{
  display: block;
  padding: 10px 0;
}

.logoutBtn{
  background-color: #282c34;
  border: 1px solid #61dafb;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px;
  color: #61dafb;
  text-decoration: none;
}

.loginRegisterDiv {
  width: 400px;
  margin: 50px auto;
  padding: 30px 0;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.loginRegisterDiv h1 {
  text-align: center;
  margin-bottom: 30px;
}

.loginRegisterDiv input[type="text"],
.loginRegisterDiv input[type="password"] {
  width: 300px;
  height: 40px;
  margin: 0 auto 10px;
  display: block;
  border: 1px solid #ccc;
  padding-left: 10px;
  border-radius: 5px;
  outline: none;
}

.loginRegisterDiv input[type="submit"] {
  width: 300px;
  height: 40px;
  margin: 20px auto;
  display: block;
  background: #28d;
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;
  color: #fff;
}

.loginRegisterDiv input[type="submit"]:hover {
  background: #17c;
}

.loginRegisterDiv p{
  text-align: center;
  font-size: 12px;
}

.loginRegisterLink{
  color: #000;
  text-decoration: none;
}

.loginRegisterLink:hover{
  color: #666;
}

.search{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search form input[type="text"]{
  width: 500px;
  height: 40px;
  margin: 0 10px;
  display: block;
  border: 1px solid #ccc;
  padding-left: 10px;
  border-radius: 5px;
  outline: none;
  color: #000;
  font-size: 16px;
  background-color: #f4f4f4;
}

.search form input[type="submit"]{
  width: 100px;
  height: 40px;
  margin: 0 10px;
  display: block;
  background: #28d;
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;
  color: #fff;
}

.search form input[type="submit"]:hover{
  background: #17c;
}

.result{
  width: 50%;
  height: 500px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  margin: 50px auto;
  padding: 30px 30px;
  overflow: auto;
}

.result p{
  font-size: 18px;
  font-weight: bold;
  color: #000;
}